<h1>Welcome to<br>
  Hogwarts School of Witchcraft and Wizardry!</h1>

<h2>Student, <%= @student.student_name() %> added successfully!</h2>
<!-- <h2>Student, <%= @student.student_name() %> added successfully!</h2> -->

<h3>Hogwarts looks forward to welcoming <%= @student.student_name() %>!</h3>
