<h1 class="home-header">Welcome to<br>
  Hogwarts School of Witchcraft and Wizardry!</h1>

<div class="grid">
  <div class="grid-row">
    <div class="cell" id="crest">
      <a href="/students/new">
      <img src="/images/Crest.png" alt="Become a Student" width='450px' height='450px'>
      </a>
    </div>
    <div class=""></div>
  </div>
</div>


<!-- <p>
An image that is a link:
<a href="https://www.w3schools.com">
<img src="smiley.gif" alt="Go to W3Schools!" width="42" height="42" border="0">
</a>
</p> -->
