<h1>Welcome to<br>
  Hogwarts School of Witchcraft and Wizardry!</h1>

<h2>All Students</h2>

<% @students.each do |student| %>
  <p>Name: <%= student.student_name()%> </p>
  <!-- <p>House: <%= student.house()%> </p> -->
  <hr />
<% end %>
