<div class="grid">
  <div class="grid-row">
    <div class="cell" id="description">
      <h2>Come, let's get you sorted into a house...</h2>
      <h3>
        While still alive the four founders did divide<br>
        Their favourites from the throng,<br>
        Yet how to pick the worthy ones<br>
        When they were dead and gone?<br>
        <br><br>
        'Twas Gryffindor who found the way,<br>
        He whipped me off his head<br>
        The founders put some brains in me<br>
        So I could choose instead!<br>
        <br><br>
        Now slip me snug around your ears,<br>
        I've never yet been wrong,<br>
        I'll have alook inside your mind<br>
        And tell where you belong!
        <!-- https://www.goodreads.com/quotes/tag/sorting-hat -->
      </h3>
      <form id="sort_button" action="/sort" method="get">
        <button type="submit">Find Your House</button>
      </form>
      </div>
      <div class="cell">
        <img src="/images/SH1.png" alt="Sorting Hat" width='450px' height='450px'>
        <!--FROM: https://goo.gl/images/Wr1TQH -->
      </div>
    </div>
  </div>
</div>


  <!-- <button type="button" name="sort_button">Find Your House</button> -->



<!-- <input type="submit" value="Find Your House"> -->
