body{
  background-color: tan;
}

h1 {
  font-family: 'Niconne', cursive;
  font-size: 32pt;
  text-align: center;
  margin-top: 2px;
  margin-bottom: 2px;
}

.home-header {
  font-size: 45pt;
}

#sort {
  background-color: green;
  width: 30em;
  height: 4em;
}

h2 {
  font-family: 'Niconne', cursive;
  font-size: 25pt;
}

h3 {
  text-align: center;
}

.grid {
  align-items: center;
}

.grid-row {
  display: flex;
}

.cell {
  flex: 1;
  padding: 5px;
  text-align: center;
  font-family: serif;
}

.images {
  align-items: center;
}







/* #description {
  border: 5px solid black;
} */
