<h3>Hmm, interesting. This will not be an easy task, I see.
  <br>
  <br>
  But where to put you??  Yes, where indeed!  I think I will need a bit more information before I decide...</h3>

  <div class="grid">
    <div class="grid-row">
      <div class="cell">
        <form action="/result" method="post">

          <label for="first-name">First Name: </label>
          <input id="first-name" type="text" name="first_name">

          <label for="last-name">Last Name: </label>
          <input id="last-name" type="text" name="last_name">

          <label for="age">Age: </label>
          <input id="age" type="number" name="age">
          <br>
          <br>
          <input type="submit" value="Give Information">

        </form>
      </div>
    </div>
  </div>
