3<h5>While still alive the four founders did divide
Their favourites from the throng,
Yet how to pick the worthy ones
When they were dead and gone?
<br>
'Twas Gryffindor who found the way,
He whipped me off his head
The founders put some brains in me
So I could choose instead!
<br>
Now slip me snug around your ears,
I've never yet been wrong,
I'll have alook inside your mind
And tell where you belong!</h5>

<form action="/students/sort" method="post">
  <label for="first-name">First Name: </label>
  <input id="first-name" type="text" name="first_name">

  <label for="second-name">Second Name: </label>
  <input id="second-name" type="text" name="second_name">

  <input type="submit" value="Sort Student">
</form>





<!-- https://www.goodreads.com/quotes/tag/sorting-hat -->
