body{
  background-color: tan;
}

h1 {
  font-family: 'Niconne', cursive;
  font-size: 32pt;
  text-align: center;
  margin-top: 2px;
  margin-bottom: 2px;
}

h2 {
  font-family: 'Niconne', cursive;
  font-size: 25pt;
}

h3 {
  text-align: center;
}

.grid {
  align-items: center;
}

.grid-row {
  display: flex;
}

.cell {
  flex: 1;
  padding: 5px;
  text-align: center;
  font-family: serif;
}
/*
input {
  align-items: center;
} */







/* #description {
  border: 5px solid black;
} */

/* #sort_button {
  background-color: #4CAF50;
  font-size: 16px;
  padding: 14px 40px;
  border-radius: 8px;
  width: 250px;
} */
